<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jt.sys.dao.SysUserDao">

	<!-- 基于用户id获取用户信息 -->
	<select id="findObjectById"
           parameterType="int"
           resultMap="sysUserMap">
           select * 
           from sys_users   
           where id=#{id}     
   </select>
	
	<resultMap id="sysUserMap"
        type="com.jt.sys.vo.SysUserDeptResult">
        <!-- 关联查询 -->
        <association property="sysDept"
                   column="deptId"
                   select="com.jt.sys.dao.SysDeptDao.findById">
        </association>
     </resultMap>
     
     <select id="findPageObjects"
             resultMap="sysUserMap">
           select * from sys_users
           <include refid="queryWhereId"/>
           limit #{startIndex},#{pageSize}
     </select>
     
     <!-- 查询总记录数 -->
     <select id="getRowCount"
             resultType="int">
         select count(*) from sys_users
         <include refid="queryWhereId"/>
     </select>
     <sql id="queryWhereId">
       <where>
              <if test="username!=null and username!=''">
                 username like concat("%",#{username},"%")
              </if>
       </where>
     </sql>
	
	<update id="validById" >
		update sys_users set 
		valid=#{valid},
		modifiedUser=#{modifiedUser},
        modifiedTime=now()
		where id=#{id}
	</update>
	
	<!-- 查询所有角色信息 -->
	<select id="findRoleAll" resultType="com.jt.sys.entity.SysRole">
		select * from sys_roles
	</select>
	
	<insert id="insertObject"
		parameterType="com.jt.sys.entity.SysUser"
		useGeneratedKeys="true"
		keyProperty="id">
		insert into sys_users
		(username,password,deptId,email,mobile,salt,valid,
		createdTime,modifiedTime,createdUser,modifiedUser)
		values
		(#{username},#{password},#{deptId},#{email},#{mobile},#{salt},#{valid},
		now(),now(),#{createdUser},#{modifiedUser})
	</insert>
	
	<update id="updateObject" parameterType="com.jt.sys.entity.SysUser">
          update sys_users
          <!-- 假如不使用动态sql如何对字段实现空值判定 -->
          <set>
             <if test="username!=null and username!=''">
               username=#{username},
             </if>
             <!-- <if test="password!=null and password!=''">
               password=#{password},
               salt=#{salt},
             </if> -->
             <if test="email!=null and email!=''">
                  email=#{email},
             </if>
             <if test="mobile!=null and mobile!=''">
                mobile=#{mobile},
             </if>
			<if test="deptId!=null and deptId!=''">
                deptId=#{deptId},
             </if>

             <if test="modifiedUser!=null and modifiedUser!=''">
                modifiedUser=#{modifiedUser},
             </if>
             modifiedTime=now()
          </set>
          where id=#{id}      
   </update>
   
   <select id="getUserCountByDeptId"
            resultType="int">
         select count(*)
         from sys_users
         where deptId=#{deptId}        
    </select>

  <select id="findUserByUserName"
           resultType="com.jt.sys.entity.SysUser">
      select *
      from sys_users  
      where username=#{username}
   </select>
	
</mapper>























